
// Colors 

$white: rgb(250, 250, 250);
$black: rgb(10, 10, 10);
$dim: #33475B;
$brand_deep: #094B72;
$brand_light: #4285F4;
$ellipse: #6ea8ff1a;
$p_text_deep: #4F4F4F;
$p_text_light: #8B8C8C;
$heading_text: #2D2F30;
$news_div_bg: #E7F6FF;
$news_text: #193E6C;
$button_text: #F9F8F9;
$designation: #87898C;
$service_bg: #F2F7FF;


// Tools 

$border: 1px solid red;


// TEXT-FONT

$inter: 'Inter';
$playfair: 'Playfair Display';
$jakarta: 'Plus Jakarta Sans';
$poppins: 'Poppins';