
@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../layouts/container';



.banner_sec{

    .banner_div{
        position: relative;
        

        .left_info_div{
                // @include border(green);

                @include custom_responsive(0px, 991.9px){
                    
                }
            .news_div{
                // @include border(green);

                background-color: $news_div_bg;
                width: 434px;
                height: 40px;
                flex-shrink: 0;
                border-radius: 26.5px;
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 0 5px;
                margin-top: 94px;
                margin-bottom: 16px;

                @include custom_responsive(0px, 991.9px){
                    margin-top: 10px;
                }

                a{
                    // @include border(yellow);
                    border-radius: 26.5px;
                    background-color: $brand_deep;
                    width: 86px;
                    height: 28px;
                    flex-shrink: 0;
                    text-align: center;
                    
                    color: $white;


                }

                p{

                    @include font($news_text, $jakarta, 14px,
                     normal, 400, )
                }

            }

            h1{
                @include font($brand_deep, $playfair, 90px, normal, 700);
                line-height:108px;
                letter-spacing: 1.8px;
                width: 751px;
                height: 216px;
                
                @include custom_responsive(0px, 1300px){
                    width: 550px;
                    font-size: 60px;
                    line-height:90px;
                    // letter-spacing: 0px;
                    // height: 0px;
                   
                }
            }

            .des_p{
                width: 590px;
                height: 76px;
                margin-top: 46px;
                @include font($p_text_deep, $jakarta, 24px, normal, 500);
                line-height: 37.92px;
                letter-spacing: .5px;

                @include custom_responsive(991px, 1300px){
                    width: 400px;
                    margin-top: 0px;
                }
            
            }
            .get_start_button{
                margin-top: 42px;
                height: 80px;
                width: 190px;
                background-color: $brand_deep;
                border-radius: 8px;
                display: grid; 
                align-items: center;
                justify-content: center;

                @include custom_responsive( 991px, 1300px){
                    margin-top: 80px;

                }
                
                
                
                p{
                    @include font($button_text, $jakarta, 16px,normal,700);
                    line-height: 22.48px;
                    letter-spacing: 1.28px;
                    text-transform: uppercase;
                }
            }

            .testimonial_pararaph{
                margin-top: 115px ;
                height: 31px;
                width: 540px;
                @include font($p_text_light, $jakarta, 22px, normal, 400);
                line-height: 30.91px;
                letter-spacing: .88px;

                @include custom_responsive(0px, 991.9px){
                    margin-top: 30px;

                }
            }
            .company_logo_div{
                // @include border(green);
                margin-top: 34px;
                margin-bottom: 40px;
                height: 88px;
                width: 248px;
                flex-shrink: 0;

                
                


                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 33px;

                    li{
                        img{
                            width: auto;
                            height: 26px;
                            flex-shrink: 0;
                        }


                    }
                }
            }

            .big_ellipse{
                position: absolute;
                // display: inline-block;
                top: 0px;
                right: -230px;
                width: 811px;
                height: 811px;
                border-radius: 811px;
                background: $ellipse;
                
                @include custom_responsive(0px, 991.9px){
                    display: none;
                }
            }

            .small_ellipse{
                position: absolute;
                top: 0;
                right: -120px;
                width: 633.213px;
                height: 633.213px;
                flex-shrink: 0;
                border-radius: 633.213px;
                background: $ellipse;

                @include custom_responsive(0px, 991.9px){
                    display: none;
                }
                
            }

            .photo_div{
                position: absolute;
                bottom: 0px;
                right: -50px;

                @include custom_responsive(0px, 991.9px){
                    position: relative;
                    bottom: 60px;
                }

                img{

                    @include custom_responsive(0px, 991.9px){
                        width: 40vw;
                    }
                }

                .lawyer_info{
                    position: absolute;
                    bottom: -20px;
                    right: 75px;                   
                    width: 382px;
                    height: 114px;
                    border-radius: 10px;
                    background: $white; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    @include custom_responsive(0px, 991.9px){
                        width: 20vw;
                        height: 80px ;
                        bottom: -20px;
                        left: 75px;
                    }
  
                    .lawyer_name{
                        
                        width: 134px;
                        height: 36px;
                        @include font($dim, $jakarta, 24px, normal,700);
                        line-height: 36px;                       
                        text-align: center;
                        margin: 0;
                        
                    }

                    .designation{
                        
                        width: 74px;
                        height: 36px;
                        @include font($designation, $jakarta, 16px, normal, 500);
                        text-align: center;
                        line-height: 36px;
                        margin: 0;


                    }
                }
            }
        }  

        
        
    }
}