@import "../abstracts/variables";
@import '../mixins/common_mix';


.container{
    width: 1110px;
    height: auto;
    margin: auto;
    @include border(black);

    @include custom_responsive(320px, 1399.9px){
        width: 85vw;
    }
}