@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../mixins/font_mix';

header{

    .header_box{
        // border:$border;
        position: relative;
        width: 1110px;
        height: 100px;
        margin: auto;

        @include custom_responsive(320px, 1399.9px){
            width: 85vw;
        }

        .header_logo{
        // @include border();

            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-shrink: 0px;
            gap: 15px;

            

            img{
                width: 36px;
                height: 36px;
                
            }

            h3{
                @include font($heading_text,$poppins, 
                20px, normal, 700);
                // all 5 below are included above :)
                // color: $heading_text;
                // font-family: $poppins;
                // font-size: 20px;
                // font-style: normal;
                // font-weight: 700;
                line-height: 35px;
                letter-spacing: 1.5px;
            }

        }

        .header_nav{
            // border: $border;
            position: absolute;
            left: 488px;
            top: 50%;
            transform: translateY(-50%);

            @include custom_responsive(576px, 1399.9px){
                left: 60%;
                transform: translateX(-50%) translateY(-50%);
                
            }
            @include custom_responsive(0px,767.9px){
                display: none;
            }

            ul{
                display: flex;
                gap: 56px;
                padding: 12px;

                @include custom_responsive(576px, 800.9px){
                    gap: 15px;
                }

                li{
                    list-style-type: none;                  
                    text-transform: uppercase;         

                    a{
                        @include font($heading_text,$poppins, 
                        12px, normal, 400);
                        // all 5 below are included above :)
                        // color: $heading_text;
                        // font-family: Poppins;
                        // font-size: 12px;
                        // font-style: normal;
                        // font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 1.5px;
                       
                    }
                }
            }
        }

        .header_search_bar{
            // border: $border;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            
            @include xs(){
            right: 70px;
            }
            @include sm(){
            right: 70px;
            }

            a{
                height: 24px;
                width: 24px;
                i{
                    font-size: 24px;
                    color: $heading_text;
                }
            }
        }

        
    }
}



